.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
  font: 1em sans-serif;
  font-weight: bold;
}
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btnl {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.btnl:hover {
  background-color: #0056b3;
}

.not-found-container img {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  height: 90%;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
